<% if @flat.photo_url.present? %>
    <div class="map" style="background-image: 
        url(' <%= @flat.photo_url  %>')">
    </div>
    <% else %>
 <div class="map" style="background-image: 
        url(' https://source.unsplash.com/collection/190727/1600x900')">
    </div>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="flat-show-card">
                <div class="flat-show-card-content">
                    <h1><%= @flat.name  %></h1>
                    <p><%= @flat.address%></p>
                </div>
            </div>
            <div class="flat-show-card" id="show-card-description">
                <div class="flat-show-card-content">
                    <h1><%= @flat.name  %></h1>
                    <p><%= @flat.description%></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="flat-show-card" id="flat-show-book">
                <h1>Book This Place</h1>
                <form action="">
                    <div class="input-group" id="flat-show-input">
                        <span class="input-group-addon" id="basic-addon1">From:</span>
                        <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mt-2" id="flat-show-input" >
                        <span class="input-group-addon" id="basic-addon1">To:</span>
                         <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
                </form>           
             </div>
            <div class="flat-show-card" id="flat-show-detail">
                <h1>Details</h1>
                <div class="card-detail d-flex">
                    <div class="card-guest">
                        <i class="fas fa-user-friends"></i>
                        <span><%=  @flat.number_of_guest %></span>
                    </div>
                    <div class="card-price">
                        <i class="fas fa-euro-sign"></i>
                        <span><%=  @flat.price_per_night %></span>
                    </div>
                </div>
            </div>
            <div class="flat-show-card" id="show-card-share">
                <div class="card-share-title">
                    <h6>Share</h6> 
                </div>
                <div class="card-share-links">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</div>